*{
    font-family:sans-serif;
}

body{    
    background-color: blue;
    color:coral;
}

#app{
    max-width: 500px;
    margin: 60px auto;
    padding: 20px;
    cursor: url(https://cdn.custom-cursor.com/db/6632/32/cute-highlighter-pen-and-notebook-cursor.png) , default;
}

h1{
    margin-bottom: 40px;
    text-align:center;
    font-weight: 700;
}

.insert{
    margin-bottom: 40px;
}

.btn{
    background-color:coral;
    padding:5px;
    border-radius: 5px;
    outline: none;
    border: none;
}

.btn:active{
    background-color:rgb(134, 39, 5);
    border: 1px solid rgb(146, 12, 39);
}

.insert{
    display:flex;
    align-items:center;
    margin-bottom:20px;
}

.insert button{
    flex-basis: 30px;
    height:100%;

}

.add-todo{    
    flex-grow: 1;    
    padding:10px;
    border: 0;
    border-radius:5px;
    background-color: rgb(89, 89, 236);
    outline: none;    
}

.add-todo:focus,
.add-todo:hover{
    background-color:black;
    color:aliceblue;
}

.todos{
    background-color:lemonchiffon;
    font-family: 'Dancing Script', cursive;
    border-radius: 2px;
    padding: 5px;
    box-shadow: 3px 3px 20px 4px grey;
}

ul.todos li{
    display:flex;
    text-align:right;
    justify-content:space-between;
    border-bottom: 1px solid violet;       
}

ul.todos li .text{
    margin-right: 50px;
    flex-grow:1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

 ul.todos li:last-of-type{ 
    border-bottom:none;
}

.admin{
    display:flex;
    justify-content:center;
    flex-direction: row;
}

.complete{
    text-decoration: line-through;
}