*{
    font-family:sans-serif;
}

body{    
    background-color: blue;
    color:coral;
}

#app{
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

h1{
    margin-bottom: 10px;
    text-align:center;
    font-weight: 700;
}

.insert{
    display:flex;
    align-items:center;
    margin-bottom:20px;
}

.insert button{
    flex-basis: 30px;
    height:100%;

}

.add-todo{    
    flex-grow: 1;    
    padding:10px;
    border: 0;
    background-color: rgb(89, 89, 236);
    outline: none;
}

.add-todo:focus,
.add-todo:hover{
    background-color:black;
    color:aliceblue;
}

ul.todos li{
    display:flex;
    justify-content:space-between;
    border-bottom: 1px solid violet;  
       
}

 ul.todos li:last-of-type{ 
    border-bottom:none;
}

.complete{
    text-decoration: line-through;
}